.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
}


.search__input {
    max-width: 700px;
}

.searchPage__icon > .MuiSvgIcon-root {
  font-size: 18px;
  padding-right: 2px;
}
.searchPage__icons {
  display: flex;
  align-items: center;
  height: 13px;
  color: #5F6368;
}

.searchPage__icon a,
.searchPage__iconsRight a {
  text-decoration:  none;
  font-size: 13px;
  color: #5F6368;
  font-weight: 400;
}

.searchPage__iconsRight,
.searchPage__iconsLeft {
display: flex;
}

.searchPage__iconsRight {
  margin-left: 80px;
}

.searchPage__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage__option a {
  margin-left: 5px;
}

.searchPage__result {
  margin: 15px  0px;
}

.searchPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage__results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}
searchPage__result
.searchPage__resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultTitle > h3 {
  font-size: 40px;
  font-weight: 200;
  color: gray;

}

.searchPage__resultSnippet {
  margin-top: 10px;
}
